## .NET Core
bin/
obj/
out/

## Build Results
*.exe
*.dll
*.app
*.log

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
.vscode/
*.code-workspace

## Rider
.idea/
*.sln.iml

## ASP.NET Core
appsettings.*.json
appsettings.Development.json
appsettings.Local.json

## Entity Framework
Migrations/

## Logs
logs/
*.log
*.tlog
*.svclog

## Database files
*.mdf
*.ldf

## Secrets
secrets.json

## OS-specific
.DS_Store
Thumbs.db

## Others
.env
*.swp
*.bak
