@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-geist-mono);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-info: var(--info);
}
:root {
  --background: hsl(228 100% 98%); /* #F9FAFC - Основной фон */
  --foreground: hsl(0 0% 13%); /* #222222 - Основной цвет текста */

  --card: hsl(228 100% 98%); /* #F9FAFC - Фон карточек */
  --card-foreground: hsl(0 0% 13%); /* #222222 - Текст на карточках */

  --popover: hsl(228 100% 98%); /* #F9FAFC - Фон всплывающих окон */
  --popover-foreground: hsl(0 0% 13%); /* #222222 - Текст во всплывающих окнах */

  --primary: hsl(259 73% 55%); /* #833ae0 - Основной акцентный цвет */
  --primary-foreground: hsl(0 0% 100%); /* #FFFFFF - Текст на основном цвете */

  --secondary: hsl(216 2% 82%); /* #D0D1D2 - Вторичный фон */
  --secondary-foreground: hsl(215 28% 17%); /* #293139 - Текст на вторичном фоне */

  --muted: hsl(216 2% 82%); /* #D0D1D2 - Приглушённый фон */
  --muted-foreground: hsl(215 14% 50%); /* #6F7881 - Приглушённый текст */

  --accent: hsl(262, 100%, 86%); /* #D0D1D2 - Фон при наведении */
  --accent-foreground: hsl(240, 22%, 15%); /* #293139 - Текст при наведении */

  --destructive: hsl(0 84% 60%); /* #E53E3E - Цвет для ошибок */
  --destructive-foreground: hsl(0 0% 98%); /* #F9FAFC - Текст на фоне ошибок */

  --border: hsl(216 2% 82%); /* #D0D1D2 - Цвет рамок и разделителей */
  --input: hsl(216 2% 82%); /* #D0D1D2 - Цвет полей ввода */
  --ring: hsl(259 73% 55%); /* #833ae0 - Цвет обводки при фокусе */

  --radius: 0.5rem; /* Радиус скругления углов */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(228 100% 98%); /* #F9FAFC - Фон сайдбара */
  --sidebar-foreground: hsl(0 0% 13%); /* #222222 - Текст сайдбара */
  --sidebar-primary: hsl(259 73% 55%); /* #833ae0 - Активный пункт сайдбара */
  --sidebar-primary-foreground: hsl(0 0% 100%); /* #FFFFFF - Текст активного пункта */
  --sidebar-accent: hsl(262, 100%, 86%); /* #D0D1D2 - Фон при наведении */
  --sidebar-accent-foreground: hsl(240, 22%, 15%); /* #293139 - Текст при наведении */
  --sidebar-border: hsl(216 2% 82%); /* #D0D1D2 - Граница сайдбара */
  --sidebar-ring: hsl(259 73% 55%); /* #833ae0 - Обводка при фокусе */
  --success: hsl(155, 60%, 45%);
  --warning: hsl(37, 91%, 55%);
  --error: hsl(6, 78%, 57%);
  --info: hsl(210, 90%, 40%)
}

.dark {
  --background: hsl(236 7% 11%); /* #1C1C1E - Основной фон */
  --foreground: hsl(228 100% 98%); /* #F9FAFC - Основной цвет текста */

  --card: hsl(236 7% 11%); /* #1C1C1E - Фон карточек */
  --card-foreground: 228 100% 98%; /* #F9FAFC - Текст на карточках */

  --popover: hsl(236 7% 11%); /* #1C1C1E - Фон всплывающих окон */
  --popover-foreground: hsl(228 100% 98%); /* #F9FAFC - Текст во всплывающих окнах */

  --primary: hsl(259 73% 55%); /* #833ae0 - Основной акцентный цвет */
  --primary-foreground: hsl(228 100% 98%); /* #F9FAFC - Текст на основном цвете */

  --secondary: hsl(222 2% 30%); /* #4A4B4D - Вторичный фон */
  --secondary-foreground: hsl(228 100% 98%); /* #F9FAFC - Текст на вторичном фоне */

  --muted: hsl(222 2% 30%); /* #4A4B4D - Приглушённый фон */
  --muted-foreground: hsl(215 14% 65%); /* #A6ADB6 - Приглушённый текст */

  --accent: hsl(262, 59%, 43%); /* #4A4B4D - Фон при наведении */
  --accent-foreground: hsl(240, 29%, 97%); /* #F9FAFC - Текст при наведении */

  --destructive: hsl(0 72% 51%); /* #B91C1C - Цвет для ошибок */
  --destructive-foreground: hsl(0 0% 98%); /* #F9FAFC - Текст на фоне ошибок */

  --border: hsl(222 2% 30%); /* #4A4B4D - Цвет рамок и разделителей */
  --input: hsl(222 2% 30%); /* #4A4B4D - Цвет полей ввода */
  --ring: hsl(259 73% 55%); /* #833ae0 - Цвет обводки при фокусе */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(236 7% 11%); /* #1C1C1E - Фон сайдбара */
  --sidebar-foreground: hsl(228 100% 98%); /* #F9FAFC - Текст сайдбара */
  --sidebar-primary: hsl(259 73% 55%); /* #833ae0 - Активный пункт сайдбара */
  --sidebar-primary-foreground: hsl(228 100% 98%); /* #F9FAFC - Текст активного пункта */
  --sidebar-accent: hsl(262, 59%, 43%); /* #4A4B4D - Фон при наведении */
  --sidebar-accent-foreground: hsl(240, 29%, 97%); /* #F9FAFC - Текст при наведении */
  --sidebar-border: hsl(222 2% 30%); /* #4A4B4D - Граница сайдбара */
  --sidebar-ring: hsl(259 73% 55%); /* #833ae0 - Обводка при фокусе */
  --success: hsl(155, 60%, 45%);
  --warning: hsl(37, 91%, 55%);
  --error: hsl(6, 78%, 57%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
